@import "tailwindcss";

:root {
  --bg-gray: #EAEAEA;
  
  --text-gray-custom: #4C4C4C;
  --text-blue-custom: #101D6B;
}

.bg-gray {
  background-color: var(--bg-gray);
}
.bg-blue {
  background-color: var(--text-blue-custom);
}

.text-gray-custom {
  color: var(--text-gray-custom);
}
.text-blue-custom {
  color: var(--text-blue-custom);
}

button {
  cursor: pointer;
}